@import url(./framework.css);
.grupo
{
    display: block;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--font-color-2);
    z-index: 999999;
}
nav
{
    display: flex;   
    justify-content: center;
    gap: 1rem;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

aside
{
    position: sticky;
    align-self: start;
    top: 9rem;
    height: fit-content;
}

.contenedor
{
    display: flex;
}

.link-inactive
{
    color: var(--font-color);
    text-decoration: none;
}

#columnas
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#columnas-grid
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contenido
{
    position: relative;
    display: flex;
    padding: 3rem;
    gap: 3rem;
}

@media (max-width: 798px) {
    aside
    {
        display: none;
    }
}